.font{
    font-size: 14px;
    font-weight: bold;
}
.width{
    width: 230px;
    
}
.personal{
    font-size: 18px;
    margin-top: 20px;
}
.color{
    border: 1px solid #bfbfbf;
}
.padding{
    padding: 7px;
}
.con2{
    width: 45%;
}

.submit{
    width: 120px;
    padding: 10px;
    background-color: #ffcc00;
    color: white;
    border: none;
}
.date{
    width: 200px;
}
.main{
    margin-top: 50px;
    margin-bottom: 50px;
}
.star{
    color: red;
    margin-right: 5px;
}
.con2{
    width: 40%;
}
.img{
    width: 100%;
    height: 150px;
    
    background-image: url('./slide.webp');
}

.header {
  background-color: #3c114d;
}

.header:hover {
  padding: 10px;
}
.student-button {
  background-color: #3c114d;
  border: none;
}
.student-button:hover {
  background-color: #3c114d;
  opacity: 0.7;
}
.student-button:active {
  background-color: #3c114d;
  opacity: 0.5;
}
.student-inside-a {
  color: black;
  text-decoration: none;
  margin: 10px;
  font-weight: bold;
  font-size: 18px;
}
.student-inside-a :hover {
  opacity: 0.1;
  transition: opacity 0.25s;
}
.student-inside-a :active {
  background-color: white;
  color: green;
}

.footer {
  background-color: #17202a;
  border-bottom: 1px solid white;
}
.headerh3 {
  color: white;

  font-size: 40px;
}
.headerimg {
  height: 80px;
}
.footerh6 {
  color: white;
}
.attribute-login-to-demo {
  color: white;
  text-decoration: none;
  margin: 10px;
  font-weight: bold;
  font-size: 19px;
}
.attribute-login-to-demo:hover {
  opacity: 0.8;
  transition: 0.25s;
}
.attribute-login-to-demo:active {
  opacity: 0.5;
  transition: 0.25s;
  color: green;
}

.login-to-demo-button {
  background-color: rgb(253, 119, 1);
  padding: 12px;
  border: none;
  border-radius: 7px;
}
.login-to-demo-button:hover {
  opacity: 0.7;
  transition: 0.25s;
}
.login-to-demo-button:active {
  opacity: 0.5;
}
.four {
  width: 100%;
  height: 20rem;
  background-color: #17202a;
  display: flex;
  justify-content: center;
  justify-content: space-evenly;
}
.four h2 {
  margin-top: 40px;
  color: white;
}
.four a {
  display: block;
  margin-top: 0.8rem;
  color: white;
  text-decoration: none;
}
.fourlast {
  background-color: #17202a;
  width: 100%;
  height: 5rem;
}
.fourlast p {
  display: flex;
  justify-content: center;
  color: #fff;
}
.fourlasta {
  gap: 3rem;
  display: flex;
  justify-content: center;
}
.fourlasta a {
  color: #fff;
  text-decoration: none;
  margin-bottom: 0.5rem;
}
.box .boximg img {
  height: 250px;
  margin-left: 2rem;
  margin-right: 2rem;
  margin-bottom: 2rem;
}
.box h2 {
  /* margin-bottom: 2rem; */
  margin-left: 2rem;
}
.box7 img {
  width: 15rem;
}
.box5 {
  width: 100%;
}
.box6 {
  width: 50%;
  height: 300px;
  /* background-image: cover ; */

  margin-top: 1px;
  /* font-size: 15rem; */
  gap: 20px;
  /* border: 2px solid black; */
  /* background-color: whitesmoke; */
  padding: 20px 0 15px;
}
.box6 .boximg img {
  width: 100%;
  height: 50%;
  margin-bottom: 19rem;
  background-image: 100%;
}
.box17 {
  width: 100%;
}
.box17 h2 {
  padding: 20px;
}
.box13 {
  width: 100%;
}
.box8 img {
  margin-left: 3rem;
}
.last-button-div {
  display: flex;
  justify-content: center;
}
.last-button {
  margin: 10px;
  padding: 10px;
  background-color: #17202a;
  border: 1px solid white;
  border-radius: 5px;
}
.aa{
    text-decoration: none;
    text-align: right;
}