.font{
    font-size: 14px;
    font-weight: bold;
}
.width{
    width: 230px;
    
}
.personal{
    font-size: 18px;
    margin-top: 20px;
}
.color{
    border: 1px solid #bfbfbf;
}
.padding{
    padding: 7px;
}
.con2{
    width: 45%;
}

.submit{
    width: 120px;
    padding: 10px;
    background-color: #ffcc00;
    color: white;
    border: none;
}
.date{
    width: 200px;
}
.main{
    margin-top: 50px;
    margin-bottom: 50px;
}
.star{
    color: red;
    margin-right: 5px;
}
.con2{
    width: 40%;
}
.img{
    width: 100%;
    height: 150px;
    
    background-image: url('./slide.webp');
}
.img1{
    height: 150px;
    font-family: Arial, Helvetica, sans-serif;
}
.aa{
    text-decoration: none;
    text-align: right;
}